<ul class='nav nav-tabs'>
  <li ui-sref-active='active'>
    <a ui-sref='user.summary'>Summary</a>
  </li>
  <li ui-sref-active='active'>
    <a ui-sref='user.book.mine'>My Books</a>
  </li>
  <li ui-sref-active='active'>
    <a ui-sref='user.book.theirs'>Their Books</a>
  </li>
  <li ui-sref-active='active'>
    <a ui-sref='user.conversation'>Conversation</a>
  </li>
  <li ui-sref-active='active'>
    <a ui-sref='user.reputation'>Reputation</a>
  </li>
  <li ui-sref-active='active'>
    <a ui-sref='user.profile'>Profile</a>
  </li>
  <li ui-sref-active='active'>
    <a ui-sref='user.settings'>Settings</a>
  </li>
</ul>
<div ui-view></div>
