<div class='modal-header'>
  <h2 class='modal-title'>Add Book</h2>
</div>
<div class='modal-body'>
  <form name='bookSearchForm' class="form-inline" role="form"
        ng-submit='providerSearch()'>
    <div class='input-group'>
      <input name='query' placeholder='ISBN, Title, Author, Keyword, etc.'
          ng-model='searchForm.query' class='form-control'/>
      <span class="input-group-btn">
        <button type="submit"
                class="btn btn-primary"
                ng-disabled='searchInProgress'
                ng-click="providerSearch()">Search</button>
      </span>
    </div>
  </form>
  <table class='table table-striped' ng-show='searchResult.books.length'>
    <caption>Search Result</caption>
    <thead>
      <tr>
        <th>#</th>
        <th>ISBN</th>
        <th>Title</th>
        <th>Description</th>
        <th>Author</th>
        <th>Publisher</th>
        <th>Date</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="book in searchResult.books | unique:'isbn'">
        <th>{{ $index + 1 }}</th>
        <th>{{ book.isbn }}</th>
        <th>{{ book.title }} <small>{{ book.subtitle }}</small></th>
        <th>{{ book.description | characters:100: false }}</th>
        <th>{{ book.authors }}</th>
        <th>{{ book.publisher }}</th>
        <th><time>{{ book.published_on | date: 'yyyy' }}</time></th>
        <th>
          <div ng-switch='isOwned(book)'>
            <button class='btn btn-primary'
                    ng-switch-when='false'
                    ng-click='add(book)'>
              <span class='glyphicon glyphicon-plus-sign'></span>
            </button>
            <button class='btn btn-success'
                    ng-switch-when='true'
                    ng-click='add(book)'>
              <span class='glyphicon glyphicon-ok-circle'></span>
            </button>
          </button>
        </th>
      </tr>
    </tbody>
  </table>
</div>
<div class='modal-footer'>
  <button class='btn btn-warning' ng-click='done()'>Close</button>
</div>
