<ol class='media-list'>
  <li class='media' ng-repeat='i in [1,2,3,4]'>
    <div class='pull-left'>
      <img data-src='holder.js/100x100' class='media-object img-thumbnail'
          holder-fix />
    </div>
    <div class='media-body'>
      <h3 class='media-heading'>
        Sender Name
        <small>
          28 July 2014, 11:07AM SGT
        </small>
      </h3>
      <p>This is the message crafted</p>
      <p>Should allow multiline</p>
      <p>Shouldn't allow html content </p>
    </div>
  </li>
</ol>
