$icon-font-path: "/bower_components/bootstrap-sass/vendor/assets/fonts/";

@import 'bootstrap-sass/vendor/assets/stylesheets/bootstrap';

/* Space out content a bit */
body {
    padding-top: 50px;
	padding-bottom: 50px;
}

.main {
	padding: 20px;
}
