
<div class='row'>
  <aside class='col-sm-3'>
    <div class='panel panel-default'>
      <header class='panel-heading'>
        <h5 class='panel-title'>Category</h5>
      </header>
      <div class='panel-body'>
        List of Category here
      </div>
    </div>
  </aside>
  <section class='col-sm-7'>
    <div class='panel panel-default'>
      <header class='panel-heading'>
        <h4 class='panel-title'>{{ page.title || "Book Lists" }}</h4>
      </header>
      <ul class='list-group'>
        <li ng-repeat='book in books' class='list-group-item'>
          <div class='media'>
            <div class='pull-left'>
              <a ui-sref='community.books.detail({ isbn: book.isbn })'>
                <img data-src='holder.js/140x140'
                     ng-hide='book.thumbnail'
                     class='media-object img-thumbnail' holder-fix>
                <img ng-src='{{ book.thumbnail }}'
                     ng-show='book.thumbnail'
                     class='media-object img-thumbnail fix-thumbsize'>
              </a>
            </div>
            <div class='media-body'>
              <h3 class='media-heading'>
                <a ui-sref='community.books.detail({ isbn: book.isbn })'>
                  {{ book.title }}
                </a>
              </h2>
              <h4>
                <a ui-sref='community.books.detail({ isbn: book.isbn })'>
                {{ book.subtitle }}
                </a>
              </h3>
              <div class='metadata inline'>
                <ul class='list-inline'>
                  <li><i>ISBN:{{ book.isbn }}</i></li>
                  by
                  <li ng-repeat='author in book.authors' >
                    {{ author }}
                  </li>
              </div>
              <p>{{ book.description | characters:255: false }}</p>
            </div>
          </div>
        </li>
      </ul>
      <footer class='panel-footer'>
        <pagination total-items='paginator.totalItems' ng-model='paginator.currentPage'
                    items-per-page='paginator.itemPerPage' max-size='paginator.maxSize'
                    ng-change='paginator.pageChanged()'>
        </pagination>
      </footer>
    </div>
  </section>
  <aside class='col-sm-2'>
    <div class='panel panel-default'>
      <header class='panel-heading'>
        <h4 class='panel-title'>
          New Arrival
        </h4>
      </header>
      <section class='panel-body'>
        <img data-src='holder.js/140x140' class='img-thumbnail' holder-fix>
      </section>
    </div>
  </aside>
</div>
