<section>
  <header>
    <h1>{{ book.title }}</h1>
  </header>
  <p>{{ book.description }}</p>
  <dl>
    <dt>
      Authors
    </dt>
    <dd>
      <ul>
        <li ng-repeat='author in book.authors'>
          {{ author }}
        </li>
      </ul>
    </dd>
    <dt>
      Publisher
    </dt>
    <dd>
      {{ book.publisher }}
    </dd>
    <dt>
      Published on
    </dt>
    <dd>
      <time datetime='{{ book.published_on }}'>
        {{ book.published_on | date:'MMM yyyy' }}
      </time>
    </dd>
  </dl>
</section>

<section>
  <h2>Owners</h2>
  <ul>
    <li ng-repeat='owner in book.owners'>
      <address>
        {{ owner }}, is reachable at
        <a href='tel:12345678'>
          <span class='glyphicon glyphicon-phone'></span>
          12345678
        </a>
        <a href='sms:12345678'>
          <span class='glyphicon glyphicon-envelope'></span>
          12345678
        </a>
        <br />
        Collect your book at: <br />
        123 Abc Street<br />
        Happy Stare Coffee Stall<br />
        Singapore, 87654321<br/>
      </address>
      <button class='btn btn-primary' title='Borrow the book'>
        Request <span class='glyphicon glyphicon-envelope'></span>
      </button>
      <button class='btn btn-info'>
        Calendar <span class='glyphicon glyphicon-calendar'></span>
      </button>
    </li>
  </ul>
</section>
