<form role='form'>
  <header class='modal-header'>
    <h3 class='modal-title'>Book Request</h3>
  </header>
  <section class='modal-body'>
    <div class='form-group'>
      <label for='date'>Borrow on</label>
      <div class="input-group">
        <input type="text" class="form-control"
        datepicker-popup="{{datepicker.format}}" ng-model="request.date"
               is-open="datepicker.isOpen"
               min-date="datepicker.minDate" max-date="datepicker.maxDate"
               datepicker-options="datepicker.options"
               ng-required="true"/>
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="openDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </div>
    </div>
    <div class='form-group'>
      <label for='message'>Message</label>
      <textarea id='message' class='form-control' rows='5'
        ng-model='request.message'></textarea>
    </div>
  </section>
  <footer class='modal-footer'>
    <button class='btn btn-warning' type='button' ng-click='cancel()'>Cancel</button>
    <button class='btn btn-primary' type='submit' ng-click='send()'>Send</button>
  </footer>
</form>
